*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
/* test background  */
.background_pink{
    background-color: pink;
}

.background_blue{
    background-color: blue;
}

.background_violet{
    background-color: violet;
}

/* background */

.background_header{
    background-color: #ff6900;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;

}

.background_footer{
    background-color: #1a1a1a;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
.background_red{
    background-color: #ff0000;
}
.background_green{
    background-color:#008000 ;
}

/* header */

.container_header{
    width: 75%;
    margin: 0 auto;

}

.row_header{
    width: 100%;
    display: flex;
    
}

.column_header25{
    width: 25%;
    display: flex;
    align-items: center;
    
}

.column_header50{
    width: 50%;
}



.content_header ul{
     list-style: none;  
     display: flex;
}

.content_header li{
    margin-right: 15px;
    
}


.content_header a{
    text-decoration: none;
    color: white;
}

.content_header_img{
    text-align: center;
}

.content_header_img img{
    width: 30%;
    margin-top: 5px;
}
.icon{
    margin-left: 170px;
}

/* main structure */

.container_ma{
    width: 75%;
    margin: 0 auto;
}

.row_ma{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.column_ma{
    width: 33%;
    margin: 10px 0;
}

/* main elements  */
.content_ma p, .content_ma span{
    font-size: 12px;
}

.color_white{
    color: white;
}

.color_red{
    color: red;
}

.content_img{
    position: relative;
}

.content_img img{ 
    width: 100%;
}

.container_symbols{
    font-size: 22px;
    position: absolute;
    background-color:white;
    padding: 1px 8px;
    top: 5px;
    right: 0;
}
.container_details{
    
    position: absolute;
    bottom: 20px;
}
.content_sale{
    display: inline-block;
    font-size: 25px;
    background-color: red;
    padding: 4px 10px;  
}
.content_eco{
    display: inline-block;
    font-size: 25px;
    background-color: green;
    padding: 4px 10px;  
}

.overlay{
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
}

.content_img:hover .overlay{
    opacity: 1;
}

.container_symbols:hover{
    color:red
}


/* footer */

.container_footer{
    width: 75%;
    margin: 0 auto;
}

.row_footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column_footer_left{
    height: 50px;
    width: 70%;
}
.column_footer_right{
    height: 50px;
    width: 30%;
    padding-left: 110px;
}


.row_footer ul{
    list-style: none;  
    display: flex;
}

.row_footer a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-left: 5px;
}